/* index.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: auto;
    background: black;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 1;
    margin-bottom: -70px; /* Adjust the margin to eliminate the gap */
}

.gameBgVid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.HomeScreen {
    position: relative;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.HomeScreen h1 {
    color: #ff0000;
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
}

.HomeScreen p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.HomeScreen .watch {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background: #e74c3c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.HomeScreen .watch:hover {
    background: #c0392b;
}

.backgroundAudio {
    display: none;
}

.watch-streams {
    margin-top: 20px;
    display: none; /* Initially hidden */
}

.watch-streams a {
    display: inline-block;
    margin: 0 10px;
}

.watch-streams img {
    width: 100px;
    height: auto;
    transition: transform 0.3s;
}

.watch-streams img:hover {
    transform: scale(1.1);
}


.demon-slayer-introduction {
    padding: 20px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
.demon-slayer-introduction .demon-slayer-intro {
    h1 {
        color: #c0392b;
        font-size: 4rem;
    }
    h1 span{
        color: white;
    }
    h2 {
        font-size: 2rem;
        color: #c0392b;
    }
    p {
        margin: 10px 0;
        color: white;
        font-size: 1.3rem;
    }
}

.demon-slayer {
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-top:-20px; /* Adjust the margin to eliminate the gap */
    text-align: center;
}
.demon-slayer .heading {
    text-transform: uppercase;
    color:#c0392b ;
    font-size: 4rem;
    
}
.demon-slayer .heading span {
    color: #fff;
    font-size: 4rem;
} 

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.error{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
    color: #fff;
}


.demon-slayer .demon-slayer-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.demon-slayer .profile-info {
    flex: 1;
    margin: 0 20px;
}

.demon-slayer .profile-info p {
    color: #fff;
    font-size: 1.2em;
    margin: 10px 0;
}

.demon-slayer .profile-img {
    flex: 1;
    text-align: center;
}

.demon-slayer .profile-img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.loading-spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #c0392b; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 20px auto; /* Centering the spinner under the error */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.hashira {
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    text-align: center;
}
.hashira .heading {
    text-transform: uppercase;
    color: #c0392b;
    font-size: 4rem;
}

.hashira-search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
}
.hashira-search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.hashira-search button img {
    width: 20px;
}
.hashira-error {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
    color: #fff;
}

.hashira .hashira-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hashira-profile .hashira-profile-info {
    flex: 1;
    margin: 0 20px;
}

.hashira-profile .hashira-profile-info p {
    color: #fff;
    font-size: 1.2em;
    margin: 10px 0;
}

.hashira .hashira-profile .hashira-profile-img {
    flex: 1;
    text-align: center;
}

.hashira .hashira-profile .hashira-profile-img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.hashira-loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #c0392b;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: hashira-spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes hashira-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
